run = "npm start"
entrypoint = "server.js"
hidden = [".config", "package-lock.json"]
modules = ["nodejs-18:v3-20230608-f4cd419"]

[packager]
language = "nodejs"

  [packager.features]
  packageSearch = true
  guessImports = true
  enabledForHosting = false

[unitTest]
language = "nodejs"

[nix]
channel = "stable-23_05"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "cloudrun"
ignorePorts = false
